textarea {
    width: 500px;
    height: 300px;
    resize: none;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

#input-container {
    display: flex;
}

#output-container {
    display: flex;
}

#button-container {
    text-align: center;
}